<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>daterange picker demo</title>
</head>
<body ng-app="demo">
	<div class="container-fluid" ng-controller="DemoCtrl as vm">
		<h1>Demo</h1>
		<hr>
		<div class="row">
			<div class="col-sm-4">
				<form name="vm.dateForm" novalidate>
					<div class="form-group">
						<label for="daterange1">Simple picker</label>
						<input date-range-picker 
							id="daterange1"
							name="daterange1" 
							class="form-control date-picker" 
							type="text" 
							ng-model="vm.dateRange" 
							required/>
					</div>
					<div class="form-group">
						<label for="daterange2">Picker with min and max date</label>
						<input date-range-picker 
							id="daterange2"
							name="daterange2" 
							class="form-control date-picker" 
							type="text" 
							ng-model="vm.dateRange" 
							date-min="'2017-01-04'" 
							date-max="'2017-01-25'"
							required/>
					</div>
					<div class="form-group">
						<label for="daterange3">Clearable picker</label>
						<input date-range-picker 
							id="daterange3"
							name="daterange3" 
							class="form-control date-picker" 
							type="text" 
							ng-model="vm.dateRange" 
							date-clearable
							date-apply="vm.onDateApply(event)"
							date-cancel="vm.onDateCancel(event)"
							required/>
					</div>
					<div class="form-group">
						<label for="daterange4">Picker with custom format</label>
						<input date-range-picker 
							id="daterange4"
							name="daterange4" 
							class="form-control date-picker" 
							type="text" 
							ng-model="vm.dateRange" 
							date-option="{locale: {format: 'YYYY-MM-DD hh:mm:ss a'}}"
							required/>
					</div>
					<div class="form-group">
						<label for="daterange5">single date</label>
						<input date-range-picker 
							id="daterange5"
							name="daterange5" 
							class="form-control date-picker" 
							type="text" 
							ng-model="vm.singleDate" 
							date-option="{singleDatePicker: true}"
							required/>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<h4>Dates:</h4>
			<div class="col-md-12 well">
				dateRange: {{vm.dateRange}}<br>
				singleDate: {{vm.singleDate}}<br>
			</div>
		</div>
	</div>
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.6.2/angular.min.js"></script>
	<script src="//cdn.bootcss.com/moment.js/2.16.0/moment.min.js"></script>
</body>
</html>